@charset "utf-8";

/*
	CMIS 410 Final Project
	CSS File: styles.css
	HTML File: services.html
	Name: Kraig Nelson
	Date: 3/25/2023
*/

/* HTML and Body Styles */

html {
	background-color: black;
	font-family: Verdana, Geneva, Arial, sans-serif; 	
}

body {
	background-color: black; 
	font-family: Verdana, Geneva, Arial, sans-serif; 
}

/* Header Styles */

body > header {   
	padding:20px; 
	background-color: orange;
	border-radius: 40px;
	text-align: center;
	margin: 10px;
}

body > header img {
	border-radius: 10px;
	display: block;
	width: 150px;
	float: left;
}

body > header h1 {
	font-weight: bold;
	font-size: 45px;
	font-family: Verdana;
	padding-right: 160px;
}

body > header h3 {
	font-style: italic;
	font-size: 15px;
	font-family: Verdana;
	padding-right: 160px;
}

/* Navigation Styles */

nav {
   background-color: blue;
   border-radius: 40px;
   display: block;
   font-family: Verdana;
   font-size: 1em;
   text-align: center;
   margin: 10px;
   padding: 5px;
}  

nav a:link, 
nav a:visited {
   color: black;
}

nav a:hover, 
nav a:active {
   background-color: black;
   color: orange;
}  

/* Section Sytles */

body > section#rightColumn {
	background-color: grey;
	height: auto;
	text-align: center;
	padding: 25px;
	width: auto;  
}

body > section#rightColumn img {
	border-radius: 10px;
	border: 5px outset white;
	width: auto;
}

/* Table Styles */

table.schedule {
	background: grey;
	border: 20px outset white;
	border-collapse: collapse;
	font-size: 1em;
	float: left;
	margin: 40px;
	width: 65%;
}

/* Table Cell Styles */

table.schedule th, table.schedule td {
	border: 2px solid gray;
	padding: 10px;
	vertical-align: top;
}

/* Row Group Styles */

table.schedule thead {
	background: blue;
	color: white;
}

table.schedule tfoot {
	background: black;
	color: white;
}

table.schedule thead tr {
	height: 50px;
}

table.schedule tbody tr {
	height: 60px;
}

/* Column Group Styles */

col#firstCol {
	background: rgb(218, 210, 218);
	width: 16%;
}

col.dayCols {
	background: white;
	width: 12%;
}

/* Footer Styles */

body > footer {
	padding: 2px; 
	background-color: orange; 
	border-radius: 40px;
	text-align: center;
	line-height: 0.25em;
	margin: 10px;
}

body > footer > h2 {
	font-size: 20px;
	font-weight: bold;
}

body > footer > p {
	font-size: 12.5px;
}

footer > a {
	font-size: 12.5px;
}
