@charset "utf-8";

/*
	CMIS 410 Final Project
	CSS File: contact.html
	Name: Kraig Nelson
	Date: 3/25/2023
*/

/* HTML and Body Styles */

html {
	background-color: black;
	font-family: Verdana, Geneva, Arial, sans-serif; 	
}

body {
	background-color: black; 
	font-family: Verdana, Geneva, Arial, sans-serif; 
}

/* Header Styles */

body > header {   
	padding:20px; 
	background-color: orange;
	text-align: center;
}

body > header img {
	display: block;
	width: 150px;
	float: left;
}

body > header h1 {
	font-style: bold;
	font-size: 45px;
	font-family: Verdana;
	padding-right: 160px;
}

body > header h3 {
	font-style: italic;
	font-size: 15px;
	font-family: Verdana;
	padding-right: 160px;
}

/* Navigation Styles */

nav {
   background-color: blue;
   display: block;
   font-family: Verdana;
   font-size: 1em;
   text-align: center;
   padding: 5px;
}  

nav a:link, 
nav a:visited {
   color: black;
}

nav a:hover, 
nav a:active {
   background-color: black;
   color: orange;
}  

/* Section Sytles */

body > section#leftColumn {
	background-color: grey;
	float: left;
	height: auto;
	text-align: center;
	padding: 25px;
	width: 25%;  
}

body > section#leftColumn img {
	width: auto;
}

body > section#middleColumn {
	background-color: grey;
	float: left;
	height: auto;
	text-align: center;
	padding: 25px;
	width: 35%; 
	font-size: 20px;
}

body > section#middleColumn img{
	width: 150px;
}

body > section#rightColumn {
	background-color: grey;
	height: auto;
	padding: 25px;
}

/* Form Layout Styles */

form#survey {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

form#survey > fieldset {
	background-color: silver;
	border-radius: 20px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}

div.formRow {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.formRow > * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}

/* Legend Styles */

legend {
	background-color: blue;
	color: white;
	padding: 5px;
}

/* Text Area Styles */

textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}

/* Form Button Styles */

div#buttons {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}

/* Footer Styles */

body > footer {
	padding: 2px; 
	background-color: orange; 
	text-align: center;
	line-height: 0.25em;
}

body > footer > h2 {
	font-size: 20px;
	font-style: bold;
}

body > footer > p {
	font-size: 12.5px;
}

footer > a {
	font-size: 12.5px;
}
